

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: volunteer_user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: volunteer_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/app/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data: